<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/header :: common_header(~{::title},~{::link})">

    <title>Nova Conta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/hello.css}">
    <link/>

</head>
<body th:replace="/layout/body :: common_body(~{::conteudo},~{::script})">
<div th:replace="/layout/menu"></div>
<div th:fragment="conteudo">


    <div th:replace="/layout/menu" />
    <h1>Nova Conta</h1>
    <div class="alert alert-info" th:if="${type!=null && type.equals('info')}" th:text="${message}"></div>
    <div class="alert alert-error" th:if="${type!=null && type.equals('error')}" th:text="${message}"></div>
    <div class="container-fluid">
        <!--/*@thymesVar id="post" type="org.lemanoman.contas.dto.FormNovaConta"*/-->
        <form id="cadastro-form" th:object="${post}" action="#" method="post" th:action="@{/contas/nova}">
            <div class="form-group">
                <label> Id Lancamento : </label>
                <input class="form-control" autocomplete="off" type="text" th:value="${post.lancamento}" name="lancamento" />
            </div>
            <div class="form-group">
                <label> Descricao : </label>
                <input class="form-control"  autocomplete="off" type="text" th:value="${post.descricao}" name="descricao" />
            </div>
            <div class="form-group">
                <label> Total : </label>
                <input class="form-control mony" autocomplete="off" type="number" th:value="${post.total}" name="total"/>
            </div>
            <div class="form-group">
                <label> Data: </label>
                <input class="form-control" type="date" name="data" th:value="${post.data}"/>
            </div>
            <div class="form-group">
                <label> Pago: </label>
                <input class="form-control" type="checkbox" name="pago" th:checked="${post.pago}"/>
            </div>
            <div class="float-lg-right">
                <input type="submit" class="btn btn-primary" value="Adicionar"/>
            </div>
        </form>
    </div>



</div>
<script type="text/javascript">
    const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2
    });
    $(document).ready(function()
    {
        $('.mony').on('keypress',function (event) {
            console.log(this.value);
            formatter.format(this.value);
        })
    });

</script>


</body>
</html>
