<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title},~{::link})">

    <title>Listar Contas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/contas-listar.css}">
    <link/>

</head>
<body th:replace="layout/body :: common_body(~{::conteudo},~{::script})">
<div th:fragment="conteudo">
    <div th:replace="layout/menu"></div>
    <div class="container">
        <h1>Listar contas</h1>
        <div class="tabela">
            <th:block th:each="conta,iter : ${contas}">
                <div class="row tabela-linha" th:classappend="${iter.even} ? even: odd">
                    <div class="col-2 tabela-coluna">
                        <div class="row">
                            <span class="col-12 header">Id lanc:</span>
                            <!--/*@thymesVar id="conta" type="org.lemanoman.contas.dto.Conta"*/-->
                            <span class="col-12 valor" th:text="${conta.lancamento}"></span>
                        </div>
                    </div>
                    <div class="col-2 tabela-coluna">
                        <div class="row">
                            <span class="col-12 header">Descricão:</span>
                            <!--/*@thymesVar id="conta" type="org.lemanoman.contas.dto.Conta"*/-->
                            <span class="col-12 valor" th:text="${conta.descricao}"></span>
                        </div>
                    </div>
                    <div class="col-2 tabela-coluna">
                        <div class="row">
                            <span  class="col-12 header">Total</span>
                            <!--/*@thymesVar id="conta" type="org.lemanoman.contas.dto.Conta"*/-->
                            <span  class="col-12 valor" th:text="${conta.totalFormatado}"></span>
                        </div>
                    </div>
                    <div class="col-2 tabela-coluna">
                        <div class="row">
                            <span class="col-12 header">Dia</span>
                            <!--/*@thymesVar id="conta" type="org.lemanoman.contas.dto.Conta"*/-->
                            <span class="col-12 valor" th:text="${conta.dia}"></span>
                        </div>
                    </div>
                    <div class="col-2 tabela-coluna">
                        <div class="row">
                            <span class="col-12 header">Pago</span>
                            <!--/*@thymesVar id="conta" type="org.lemanoman.contas.dto.Conta"*/-->

                            <span class="col-12 valor">
                                <i class="fas fa-check"  th:if="${conta.pago}"></i>
                                <i class="fas fa-times" th:if="${!conta.pago}"></i>
                            </span>
                        </div>
                    </div>
                    <!--/*@thymesVar id="conta" type="org.lemanoman.contas.dto.Conta"*/-->
                    <div class="col-2 tabela-coluna">
                        <a th:href="${'/contas/editar/'+conta.getLancamento()+'/'+conta.getAno()+'/'+conta.getMes()+'/'+conta.getDia()}"><i class="fas fa-edit"></i></a>
                        <a th:href="${'/contas/deletar/'+conta.getLancamento()+'/'+conta.getAno()+'/'+conta.getMes()+'/'+conta.getDia()}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </th:block>

            <div class="row">
                <div class="col" style="text-align: right;">
                    <span style="font-weight: bold;font-size: 1.6em;margin-top: 15px;display: block;font-family: sans-serif;">Total: <span
                            th:text="${total}"></span></span>
                </div>

            </div>
        </div>
    </div>


</div>
<script/>


</body>
</html>
